<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>参加していたイベントがキャンセルされました！</h1>
    <p>
      参加イベントの詳細をマイページから確認できます！
    </p>
    <p><%= link_to 'pickable', @url %></p>
    <p>pickable事務局</p>
  </body>
</html>