<p id="notice"><%= notice %></p>

<h1 class="display-3 red text-center mt-4">Events</h1>


<div class="container">
  <div class="col-9 mx-auto">
    <div class="text-end">
      <%= link_to new_event_path do %>
        <div class="btn btn-outline-info rounded-pill mb-3">Create Event</div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/event', events: @events %>
</div>

<%= paginate @events %>
