<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <h2 class="pb40">参加イベント開始前です！</h2>
    <div class="pb40">
      <p>大変申し訳ありません。</p>
      <p>対象イベントの情報は送信中に泥棒に盗られてしまい、表示ができませんでした…</p>
    </div>
    <p>参加予定イベントはMypageより確認できます！</p>
    <p><%= link_to 'Pickable', @url %></p>
  </body>
</html>