<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <h2>参加イベント開始前です！</h2>
    <p class="pb40">参加予定のイベントはMypageより確認できます！</p>
    <div class="pb40">
      <p>
      ※大変申し訳ございません。<br>
      現在イベントの情報を盗む野良ネコが出没しており<br>
      対象イベントの表示ができておりません。<br>
      ネコに免じてお許しください。
      </p>
    </div>
    <p>サービスへは下記リンクからもアクセスできます！</p>
    <p><%= link_to 'Pickable', @url %></p>
  </body>
</html>