<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>参加イベント開始前です！</h1>
    <p>大変申し訳ありません。対象イベントの情報は送信中に泥棒に盗られてしまいました…</p>
    <p>参加予定イベントはMypageより確認できます！</p>
    <p><%= link_to 'Pickable', @url %></p>
    <p>Pickable事務局</p>
  </body>
</html>