<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pickable！</h1>
    <h2><%= @user.github_name %>様、Pickableへの登録ありがとうございます！</h2>
    <p>
      Pickableへのユーザー登録が成功しました<br>
    </p>
    <p>
      このサービスはイベント開催、参加のハードルを少しでも下げて<br>
      コミュニティに入る「きっかけ」を作ることができれば、との思いから開発がスタートしました。<br>
      Pickableを通して公式のイベントからだけではなく<br>
      RUNTEQ生間の「つながり」を増やしていただければ嬉しいです！
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
    <p><%= link_to 'Pickable', @url %></p>
    <p>Pickable開発者一同</p>
  </body>
</html>