<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.github_name %>様、Pickableへの登録ありがとうございます！</h1>
    <p>
      Pickableへのユーザー登録が成功しました<br>
    </p>
    <p>
      このサービスはせっかくコミュニティが強いRUNTEQに入学しているのに<br>
      心理的ハードルから参加できない方にむけて<br>
      「きっかけ」を作ることができればとの思いから開発がスタートしました<br>
      Pickableを通して公式のイベントからだけではなく<br>
      RUNTEQ生間の「つながり」を増やしていただければ嬉しいです！
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
    <p><%= link_to 'Pickable', @url %></p>
    <p>Pickable開発者一同</p>
  </body>
</html>