/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* font-awesomeの読み込み */
@import '@fortawesome/fontawesome-free/scss/fontawesome';

 /* フォント */
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=RocknRoll+One&display=swap');
* {
  font-family: 'Coda Caption', 'RocknRoll One', sans-serif;
}

/* メインカラー */
.red {
  color: #FF4273 !important;
}
.orange {
  color: #FF9D76;
}
.yellow {
  color: #FFFDE1;
}
.skyblue {
  color: #1FFFFF;
}

body {
  background-color: #FFFDE1 !important;
}

// 背景をorangeに
.bg-orange {
  background-color: #FF9D76;
}

// 共通
.flex {
  display: flex;
}

// フォントサイズ
.fz25 {
  font-size: 2.5rem;
}
.fz15 {
  font-size: 1.5rem;
}

.fz075 {
  font-size: 0.75rem;
}

// ボタンモジュール
.btn-outline-info {
  color: #1FFFFF !important;
  border-color: #1FFFFF !important;
  border: 5px solid !important;
}

// ランダム設定用
.accepted {
  background-color: #FF9078;
}

.denied {
  background-color: #789EFF;
}

// カテゴリ用
.bg-category {
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%);
}

// バリデーションエラーによるレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}

// マージントップの制御
.mt-7 {
  margin-top: 4rem;
}

// 未ホバー時に透明度を下げてホバー時にオリジナルに
.hover-target {
  opacity: .8;
  &:hover{
    opacity: 1;
  }
}

// aタグの下線、色、ホバー時の色を無効にする
.simple-a-tag {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}