
// events#index
.card {
  font-size: 1.4rem;
  border: 4px solid  #FF9D76 !important;
  background-color: #fff !important;
  box-shadow: 0 7px 14px rgba(50,50,93,.2), 0 3px 6px rgba(0,0,0,.1);
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 14px rgba(50,50,93,.6), 0 3px 6px rgba(0,0,0,.3);
    transition: all .3s;
  }
}
.card-body {
  color: black;
}


.event-link {
  text-decoration: none;
}


// events#show
.btn-outline-info-pick {
  color: #FF4273 !important;
  border-color: #FF4273 !important;
  border: 5px solid !important;
  // text-decoration: none;
  &:hover {
    color: #FFFDE1 !important;
    border-color: #FF4273 !important;
    background-color: #FF4273;
  }
}

.w-60 {
  width: 60% !important;
}
