
// events#index
.card {
  font-size: 1.4rem;
  border: 4px solid  #FF9D76 !important;
  background-color: #fff !important;
}
.card-body {
  color: black;
}

.event-link {
  text-decoration: none;
}


// events#show
.btn-outline-info-pick {
  color: #FF4273 !important;
  border-color: #FF4273 !important;
  border: 5px solid !important;
  text-decoration: none;
}
