
// events#index
.card {
  font-size: 1.4rem;
  color: black;
  border: 1px solid  #FF9D76 !important;
}

.event-link {
  text-decoration: none;
}


// events#show
// .events-show {
//   font-size: 1.4rem;
// }